# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    name: Update NuGet package
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET Core @ Latest
        uses: actions/setup-dotnet@v1
        with:
          source-url: https://nuget.pkg.github.com/schlechtums/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.FASTDYNAMICACCESSTOKEN}}        

      - name: Build solution and generate NuGet package
        run: cd src\FastDynamicAccess &&
             dotnet build -c Release &&
             dotnet pack -c Release -o out  

      - name: Push generated package to GitHub registry
        run: dotnet nuget push src\FastDynamicAccess\out\*.nupkg --skip-duplicate --no-symbols true
