# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    name: Update NuGet package
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET Core @ Latest
        uses: actions/setup-dotnet@v1
        with:
          source-url: https://nuget.pkg.github.com/schlechtums/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUBTOKEN}}        

      - name: Build solution and generate NuGet package
        run: for /r %%i IN (*.sln) DO ( dotnet build "%%i" -nologo -c Release /property:Version=2.0.0.%GITHUB_RUN_NUMBER% )
        shell: cmd

      - name: Unit Test
        run: for /r %%i IN (*.sln) DO ( dotnet test "%%i" )
        shell: cmd
        
      - name: Push generated package to GitHub registry
        run: for /r %%i IN (*.nupkg) DO ( nuget push "%%i" -SkipDuplicate -NoSymbols )
        shell: cmd
